<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Rastreamento</title>
        <link th:href="@{/css/estilo.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1 th:text="${objeto}">Resultado do rastramento</h1>
        <div th:each="objeto : ${sroxml.objeto}" th:unless="${sroxml.objeto.empty}">
            <p th:text="${objeto.erro}"></p>
            <table border="1" th:unless="${objeto.evento.empty}">
                <thead>
                    <tr>
                        <th class="minsize">Data</th>
                        <th class="minsize">Hora</th>
                        <th class="minsize">UF</th>
                        <th class="minsize">Cidade</th>
                        <th>Evento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="evento : ${objeto.evento}">
                        <td th:text="${evento.data}" class="minsize"></td>
                        <td th:text="${evento.hora}" class="minsize"></td>
                        <td th:text="${evento.uf}" class="minsize"></td>
                        <td th:text="${#strings.capitalize(#strings.toLowerCase(evento.cidade))}" th:title="${evento.local}" class="minsize"></td>
                        <td th:text="${evento.descricao}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>